/**
 * 这里是公共 css 扩展管理，如果需要使用 sass 预处理：
 * 安装 Sass:【$ npm i sass -D】【$ npm i sass-loader -D】
 * 如果使用了 Sass，可以将 common.css 改为 common.scss，并在 uni.scss 或 app.vue 文件中引用
 */

/* nav：导航栏 tab：TabBar，根据当前使用页面情况选择 */
/* 页面内容区域样式: 有 nav、tab */
.page-content-1 {
	/* #ifdef H5 */
	height: calc(100vh - var(--top-height) - var(--bottom-height));
	/* #endif */
	/* #ifndef H5 */
	height: 100vh;
	/* #endif */
}
/* 页面内容区域样式: 有 nav，无 tab */
.page-content-2 {
	/* #ifdef H5 */
	height: calc(100vh - var(--top-height));
	/* #endif */
	/* #ifndef H5 */
	height: 100vh;
	/* #endif */
}
/* 页面内容区域样式: 有 nav(自定义)、tab */
.page-content-3 {
	margin-top: var(--top-height);
	/* #ifdef H5 */
	height: calc(100vh - var(--top-height) - var(--bottom-height));
	/* #endif */
	/* #ifndef H5 */
	height: calc(100vh - var(--top-height));
	/* #endif */
}
/* 页面内容区域样式: 有 nav(自定义)，无 tab */
.page-content-4 {
	margin-top: var(--top-height);
	height: calc(100vh - var(--top-height));
}
/* 页面内容区域样式: 有 nav(自定义)、tab(自定义) */
.page-content-5 {
	margin-top: var(--top-height);
	height: calc(100vh - var(--top-height) - var(--bottom-height));
}